
test10/
practice20171118/
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/write.lock
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
