<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/practice20171118/src/com/java/innerclass/Demo1_innerclass.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.java.innerclass.Demo1_innerclass"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="practice20171118"/>
</launchConfiguration>
